/*
colors:
background: #bcbcad
screen border: #666e72
screen color: #37e550
screen digit color: black
button color: #933e59
clear button color: #8a8584
*/

body {
  font-family: "Press Start 2P", cursive;
  background-color: black;
}

.container {
  background-color: #bcbcad;
  border-radius: 5px 5px 20px 5px;
  padding: 5px;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 30%;
  right: 30%;
  margin: auto;
  text-align: center;
}

#calculatorDisplay {
  font-family: inherit;
  display: inline-block;
  font-size: 25px;
  text-align: right;
  background-color: #37e550;
  /* color: black; */
  padding: 8px;
  border: 20px solid #666e72;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 35px 0 #37e550;
}

.numButton {
  cursor: pointer;
  display: grid;
  font-family: inherit;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #933e59;
  font-size: 18px;
  text-align: center;
}
