body {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to left top, rgb(100, 100, 100), orangered) fixed;
}

h1 {
  font-size: 3em;
}

.container {
  background-color: gray;
  border: 2px solid black;
  box-shadow: 0 0 1em black;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 30%;
  right: 30%;
  margin: auto;
  text-align: center;
  min-width: 350px;
  max-width: 450px;
}

#calculatorDisplay {
  font-family: inherit;
  display: inline-block;
  margin-bottom: 25px;
  font-size: 2em;
  text-align: right;
  background-color: white;
  color: black;
  padding: 8px;
  border: 10px solid;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 35px 0 white;
}

button {
  font-size: 1em;
  padding: 10px;
  margin: 5px;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
}

.buttonContainer {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  grid-template-areas:
    "plus minus multiply divide"
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero decimal clear allClear";
}

#numOne {
  grid-area: one;
}

#numTwo {
  grid-area: two;
}

#numThree {
  grid-area: three;
}

#numFour {
  grid-area: four;
}

#numFive {
  grid-area: five;
}

#numSix {
  grid-area: six;
}

#numSeven {
  grid-area: seven;
}

#numEight {
  grid-area: eight;
}

#numNine {
  grid-area: nine;
}

#numZero {
  grid-area: zero;
}

#decimalButton {
  grid-area: decimal;
}

#clearButton {
  grid-area: clear;
}

#allClearButton {
  grid-area: allClear;
}

#plusButton {
  grid-area: plus;
}

#minusButton {
  grid-area: minus;
}

#timesButton {
  grid-area: multiply;
}

#divideButton {
  grid-area: divide;
}

#equalButton {
  grid-area: equal;
  background-color: orange;
}

#equalButton:hover {
  background-color: orangered;
}

.functionButton,
.numButton,
.operatorButton {
  background: lightgray;
}

.functionButton:hover,
.numButton:hover,
.operatorButton:hover {
  background: gray;
}
